@import "~materialize-css/dist/css/materialize.min.css";

.mr-10 {
    margin-right: 10px;
}

.ml-10 {
    margin-left: 10px;
}

.button-link, .button-link:active {
    padding: 20px 15px;
    cursor: pointer;
    background: transparent;
    border: none;
    color: #fff;
}

#root, body, .wrapper {
    min-height: 100vh;
}

.wrapper {
    display: flex;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.page-footer {
    padding-top: 0;
}

.header-select .select-wrapper {
    width: 130px;
}

.header-select .select-wrapper input {
    color: #fff;
}
.header-select .select-wrapper input.select-dropdown {
    border-bottom: 1px solid #fff;
}

.header-select .select-wrapper .caret {
    fill: #fff;
}

.nav-wrapper .head-menu > li {
    margin-left: 15px;
}